/*
 * flash styles, sexy_flash plugin
 * Iconset: Knobs => http://itweek.deviantart.com/art/Knob-Buttons-Toolbar-icons-73463960
 */

#flash_notice, #flash_error, #flash_warning, #flash_info{
  margin: 10px auto;
  padding:13px 10px 13px 50px;
  border: solid 1px;
  width: 90%;
  background-repeat: no-repeat;
  background-position: 10px center;
}

#flash_error {
  background-color: #FAA;
  border-color: red;
  background-image: url('/images/icons/sexy_flash/error.png');
}

#flash_warning{
  background-color: #FFA;
  border-color: yellow;
  background-image: url('/images/icons/sexy_flash/warning.png');
}

#flash_notice, #flash_info{
  background-color: #BDE5F8;
  border-color: blue;
  background-image: url('/images/icons/sexy_flash/info.png');
}
